@import url(color.css);

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.bg-img{
    background-image: url("./img/bg-3-1.png");
    
    height: 100vh;
    background-size: cover;
}
.blur{
    backdrop-filter: blur(8px);
}
input{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 10px;
    color:#9b0144;
}
button{
    border: none;
    outline: none;
    background: transparent;
    padding: 12px 13px;
    background-color:#9b0144;
    border-top-right-radius: 40px;
    border-bottom-right-radius:40px ;
    border-top-left-radius: 40px;
    color:white
}

ul li {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 30px;
    margin:10px 30px;
    border-radius: 5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
}
i{
    color:#9b0144
}